.fon {
	color:#c10003;
	font-size:64px;
	background-image: url(images/Фонзаголовка.jpg);
	padding:60px;
	text-align:center;
	cursor:url(images/Cursor.png);
}
body {
	background-color:#190001;
	cursor: url(images/Cursor.png), url(images/Cursor2.png), auto;
}
