.fon {
	color:#c10003;
	font-size:64px;
	background-image: url(images/Фонзаголовка.jpg);
	padding:60px;
	text-align:center;
}
body {
	background-color:#190001;
	cursor:url(images/Курсор сайта.png),url(images/Курсор сайта.cur),default;
}
